/* TOP LEVEL (.-display) */

body {
    /* padding: 2.5vh 1vw; */
    margin: 1vh;
}

img {
    height: 100%;
    width: 100%;
}

button {
    height: 100%;
    width: 100%;
}

h3 {}

.bg {
    background-color: #090909;
    color: whitesmoke;
    text-align: center;
    margin: 1vh 0;
}

.center-text {
    text-align: center;
}

.top-button {
    padding: 5% 15%;
}

.top-button>button {
    width: 100%;
}

/* LEFT DISPLAY */

.location-data,
.player-data {
    margin: 1.5vh 0;
}

.player-image {
    height: 18vh;
}

/* CENTER DISPLAY */

#center-display {
    padding-top: 2.5vh;
}

#location-background {
    height: 60vh;
    background-image: url("../img/inside-barn.jpg");
    background-size: cover;
}

#player-options {
    height: 30vh;
}

#player-options>div {
    height: 50%;
}

.player-options>.col-4 {
    height: 7.5vh;
    padding: 0.5%;
}

/* .option-button {
    height: 100%;
    width: 100%;
    text-align: center;
} */

#NPC-data {}

#NPC-data>div {
    padding: 10px;
}

#spoken-text {
    padding: 20px 30px;
    font-size: large;
    text-align: center;
}

#player-response {
    padding: 20px 30px;
    font-size: large;
    text-align: center;
}

.btn-option {}

/* RIGHT DISPLAY */

.health-icon {
    font-size: xx-large;
    padding: 0;
    color: red;
}

.status-icon {
    padding: 0;
}

#stats {
    padding: 1vh;
    font-size: larger;
}

#equipment {
    padding: 1vw;
}

.equipped-item {
    padding: 0;
    height: 8vh;
}

#perks {
    padding: 1vw 0.5vw;
}

.perk-button {
    height: 6vh;
    padding: 0;
}